/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    /* Primary colors */
    --verydkblue: hsl(233, 47%, 7%);  /* main bg */
    --desatblue: hsl(244, 38%, 16%);   /* card bg */
    --softviolet: hsl(277, 64%, 61%);  /* accent */
    
    /* Neutral */
    --white: hsl(0, 0%, 100%);  /* main heading, stats */
    --transwhite: hsla(0, 0%, 100%, 0.75);  /* main paragraph */
    --transwhite2: hsla(0, 0%, 100%, 0.6);   /* stat headings */

    /* fonts */
    --sans: "Inter", Helvetica, sans-serif;
    --sans2: "Lexend Deca", Helvetica, sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--sans);
    font-size: 15px;
    background: var(--verydkblue); 
    color: var(--white); 
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.component {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    border-radius: 1rem;
    background-color: var(--softviolet);
    overflow: hidden;
    max-width: 1200px;
}
.description {
    width: 50%;
    padding: 3rem;
}
.image {
    width: 50%;
}
.image>img {
    display: block;
    width: 100%;
}
/* footer */
footer {
    position: absolute;
    bottom: 0.3rem;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}
.attribution {
    font-size: 11px;
    color: var(--white);
}
.attribution a {
    color: hsl(228, 45%, 44%);
}